.title-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

#info-gather-logo {
    background-color: black;
    padding: 10px;
    height: 50px;
    width: 150px;
    margin-top: -35px;
    margin-right: 10px
}

h4 {
    text-align: left;
}

#app-description {
    margin: 10px;
    float: left;
}

#g4gtitle {
    background-color: white;
    padding-left: 0px;
}

#g4gprev-1 {
    margin-top: 50px;
    margin-right: 10px;
}



