.title-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    text-align: left;
}

#app-description {
    margin: 10px;
    float: left;
}

.icons {
    float: left;
}

#tutorial-prev {
    margin-top: 50px;
    margin-left: -15px;
    width: 100%
}

#mistytitle {
    background-color: white;
    padding-left: 0px;
}

.gitlogo {
    margin-top: 50px;
}

#misty-light-logo {
    height: 70px;
    margin-top: 45px;
    margin-right: 15px;
}