h1, h2, h3, h4, h5, li, p, i {
    font-family: 'Russo One', sans-serif;
}

.panel {
    border: none;
}

#ben {
    float: right;
    border-color: black;
    height: 400px;
    border-style: solid;
    border-width: 20px;
    margin-top: 45px;
    margin-right: 45px;
    margin-bottom: 45px;
    margin-left: 20px;
}

#name-panel-header {
    background-color: white;
    font-style: bold
}

#name {
    font-size: 70px;
}

#skills-panel-header {
    background-color: white;
    font-style: italic;
}

#skills {
    float: right;
    list-style-type: none;
    font-size: 20px;
}

#education-panel-header {
    background-color: white;
    font-style: italic;
}

#education {
    list-style-type: none;
    font-size: 18px;    
}

#experience-panel-header {
    background-color: white;
    font-style: italic;
}

#experience {
    list-style-type: none;
    font-size: 18px;    
}

#contact-panel-header {
    background-color: white;
    font-style: italic;
    text-align: right;
}

#contact {
    float: right;
    direction: rtl;
    list-style-type: none;
}

.contact-icons {
    float: right;
    margin-left: 10px
}

#github {
    color: black;
    margin-right: 40px
}

#linkedin {
    color: #0077B5;
}

#myemail {
    float: right;
}

#project-panel-header {
    background-color: white;
}

#home-panel-header {
    background-color: white;
    border-bottom:none;
}

@media screen and (max-width: 600px) {

    #contact-panel-header {
    background-color: white;
    font-style: italic;
    text-align: left;
    }

    #contact {
        float: left;
        direction: ltr;
        list-style-type: none;
    }

    .contact-icons {
        float: left;
        margin-left: 40px
    }

    #github {
    color: black;
    }

    #linkedin {
    color: #0077B5;
    margin-left: -10px;
    }

    #ben {
        margin-right: -17px;
    }

    #bio {
        font-size: 25px;
    }

    .contact-icons {
    float: left;
    margin-right: 10px
    }
}

