h1, h2, h3, h4, h5, li, p, i {
    font-family: 'Russo One', sans-serif;
}

.panel {
    border: none;
}

#ben {
    float: right;
    border-color: black;
    height: 400px;
    border-style: solid;
    border-width: 20px;
    margin-top: 45px;
    margin-right: 45px;
    margin-bottom: 45px;
    margin-left: 20px;
}

#name-panel-header {
    background-color: white;
    font-style: bold
}

#name {
    font-size: 70px;
}

#skills-panel-header {
    background-color: white;
    font-style: italic;
}

#skills {
    float: right;
    list-style-type: none;
    font-size: 20px;
}

#education-panel-header {
    background-color: white;
    font-style: italic;
}

.education {
    list-style-type: none;
    font-size: 18px;    
}

#experience-panel-header {
    background-color: white;
    font-style: italic;
}

#experience {
    list-style-type: none;
    font-size: 18px;    
}

#contact-panel-header {
    background-color: white;
    font-style: italic;
    text-align: right;
}

#contact {
    float: right;
    direction: rtl;
    list-style-type: none;
}

.contact-icons {
    float: right;
    margin-left: 10px
}

#github {
    color: black;
    margin-right: 40px
}

#linkedin {
    color: #0077B5;
}

#hackerrank {
  color: green;
  float: right;
}

#myemail {
    float: right;
}

#project-panel-header {
    background-color: white;
}

#home-panel-header {
    background-color: white;
    border-bottom:none;
}

#CU_logo {
  padding-top: 20px;
}

#DU_logo {
  padding-top: 20px;
  padding-left: 20px;
}

#misty-dark-logo {
  padding-top: 20px;
}

@media screen and (min-width: 480px) and (max-width: 991px) {
  #DU_logo {
    margin-left: -20px;
  }

  #CU_logo {
    margin-left: -20px;
  }

  #misty-dark-logo {
    margin-left: -20px;
  }

  #contact {
        float: left;
        direction: ltr;
        list-style-type: none;
  }

  #contact-panel-header {
    background-color: white;
    font-style: italic;
    text-align: left;
  }

  #ben {
    float: left;
  }

  .contact-icons {
    float: left;
  }

  #linkedin {
    margin-left: -20px;
  }

  #hackerrank {
      float: left;
      margin-left: 20px;
    }
}

@media screen and (max-width: 479px) {
    #name {
      font-size: 40px;
      text-align: center;
    }

    #bio h2, h3 {
      font-size: 22px;
    }

    #skills {
    margin-left: -35px;
    }

    #DU_logo {
      width: 50px;
    }

    #CU_logo {
      width: 50px;
    }

    #misty-dark-logo {
      width: 50px;
    }

    #experience-details {
      margin-left: -80px;
    }

    #contact-panel-header {
    background-color: white;
    font-style: italic;
    text-align: left;
    }

    #contact {
        float: left;
        direction: ltr;
        list-style-type: none;
    }

    .contact-icons {
        float: left;
        margin-left: 40px
    }

    #hackerrank {
      float: left;
      margin-left: 20px;
    }

    #github {
    color: black;
    }

    #linkedin {
    margin-left: -10px;
    }

    #ben {
        margin-right: -17px;
        display: none;
    }

    .contact-icons {
    float: left;
    margin-right: 10px
    }
}

