#page-container {
    margin-top: 100px;
    margin-bottom: 300px
}

#home-link {
  color: black;
  font-style: normal;
  text-decoration: none;
}

@media screen and (min-width: 480px) and (max-width: 991px) {
  #page-container {
    margin-top: 0px;
  }
}

@media screen and (max-width: 479px) {
    #page-container {
    margin-top: 0px;
    margin-bottom: 300px
    }
}