#page-container {
    margin-top: 100px;
    margin-bottom: 300px
}

#home-link {
  color: black;
  font-style: normal;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
    #page-container {
    margin-top: 0px;
    margin-bottom: 300px
    }
}